@import "tailwindcss";

@theme {
  --color-background: #0f0f10;
  --color-surface: #18181b;
  --color-card: #202023;
  --color-success: #4ade80;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
